<!DOCTYPE html>
<html lang="en">

<style>
 body {
   background:url("/static/水墨1.jpeg")  no-repeat center center;   /*加载背景图*/   /* 背景图不平铺 */
   background-size:cover;  /* 让背景图基于容器大小伸缩 */
   background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */    //此条属性必须设置否则可能无效/
   background-color:#CCCCCC;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
 }
</style>


<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
     <h1>
        <p style="text-align:center">登录</p>
    </h1>
    <center>
    <form action="" method="post">
        {% csrf_token %}
        <p style="text-align:center">用户：<input type="text" name="username" /></p>
        <p style="text-align:center">密码：<input type="password" name="password"/></p>
        <p style="text-align:center"> <input type="submit" value="登录" />

          <p style="color: #ff0000;text-align: center">{{error}}</p>
    </form>
        <form action="{% url 'register' %}" method="get">
						<input type="submit" value="注册"/>
        </form>
    </center>
</body>
</html>