.gm-su-box{
width:850px;
height:600px;

background-color: white;
border-radius:30px;
margin-bottom:15px;
margin-left:15px;
margin-top:60px;

}

.left-box{
width:300px;
height:600px;

background-color: rgba(234, 45, 45, 0.363);

float:left;
border-radius:30px 0 0 30px;
}

.book-img{
width:250px;
height:300px;
background-color: white;
float:left;
margin-bottom:15px;
margin-left:15px;
margin-top:20px;


}

.bookimg{
width:100%;
height:100%;
}

.book-name{
width:400px;
height:65px;

float:left;

margin-bottom:15px;
margin-left:15px;
margin-top:20px;

}

.book-author{
width:400px;
height:65px;

float:left;

margin-bottom:15px;
margin-left:15px;
margin-top:6px;

}

.ac-box{
width:400px;
height:65px;

float:left;

margin-bottom:15px;
margin-left:15px;
margin-top:6px;

}

.bookname{
margin:0 auto;
font-size:50px;
font-family:kaiti;
margin-bottom:2px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;

}

.bookauthor{
margin-bottom:10px;
font-size:25px;
font-family:kaiti;

margin:0 auto;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;

}

.button-qx{
width: 150px;/*设置按钮宽度*/
height: 50px;/*设置按钮高度*/
color:white;/*字体颜色*/

float:left;

margin-top:15px;
margin-left:50px;


background-color:rgba(234, 45, 45, 0.363);/*按钮背景颜色*/
border-radius: 10px;/*让按钮变得圆滑一点*/
border-width: 0;/*消去按钮丑的边框*/
outline: none;/*取消轮廓*/
font-family: KaiTi;/*字体设置为楷体*/
font-size: 20px;/*设置字体大小*/
text-align: center;/*字体居中*/
cursor: pointer;/*设置鼠标箭头手势*/
}
.button-qx:hover{/*鼠标移动时的颜色变化*/
background-color: rgb(255, 8, 8);
}