 body {
   background:url("/media/project_img/waifu.png")  no-repeat center center;   /*加载背景图*/   /* 背景图不平铺 */
   background-size:cover;  /* 让背景图基于容器大小伸缩 */
   background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */    //此条属性必须设置否则可能无效/
   background-color:#CCCCCC;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
 }


.reade_book_box{
width:1000px;

background-color: white;
border-radius:30px;
margin-bottom:15px;
margin-left:15px;
margin-top:20px;

opacity: 0.94; /* 透明度 */

}

.bookname{
border-radius:10px;
color:  rgba(255, 119, 119, 0.952);
width:600px;
resize:none;
font-size: 30px;
font-family: "楷体";

}

.book_neirong{
border-radius:10px;

width:900px;
resize:none;
font-size: 20px;
font-family: "楷体";

}