<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" id="num1">+<input type="text" id="num2">=<input type="text" id="sum">

<button id="submit">计算</button>


<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.0/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/bt-ajax.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>